#heading {
    color: red;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 100px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.restro-card {
    width: 200px;
    /* height: 350px; */
    padding: 5px;
    margin: 5px;
}
.restro-card:hover {
    cursor: pointer;
    border: 1px solid saddlebrown ;
}
.res-logo {
    width: 100%;
    object-fit: contain;
}
.body {
    border: 1px;
}
.restro-container {
    display: flex;
    flex-wrap: wrap;
}
.filter-btn {
    margin: 10px;
    cursor: pointer;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login-btn {
    padding: 0 10px;
    cursor: pointer;
}
.filter {
    display: flex;
}
.search {
    align-self: center;
}